@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: "Lato", sans-serif;
}
.hero-section{
    width: 100%;
    min-height: 92vh;
    /* padding-block-end: 100px; */
}
.btn-section{
    width: 80%;
    /* height: 50vh; */
    /* background-color: aqua; */
    display: flex;
}
.btn-section button{
    background-color: #222222;
}
.left-btn{
    width: 50%;
    height: auto;
    /* background-color: bisque; */
    /* padding-inline-start: 5%; */
}
.left-btn .d-grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* padding-inline-end: 50px; */
}
.left-btn button{
    width: 75%;
}
.right-btn{
    width: 50%;
    height: auto;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    /* background-color: blueviolet; */
}
.right-btn .d-grid{
    /* padding-inline-start: 50px; */
}
.right-btn button{
    border-image: linear-gradient(to right,rgba(79,183,131,1), rgba(254,235,151,1)) 1;
}
.right-btn button:nth-child(2){
    border-image: linear-gradient(to right, rgba(254,235,151,1), rgba(79,183,131,1)) 1;

}
.last{
    margin-top: 100px;
    /* background-color: antiquewhite; */
    padding-inline: 5%;
}
/* .d-grid{
    width: 100%;
    d
} */


@media(max-width:768px){
    .btn-section{
        flex-direction: column;
    }
    .left-btn{
        width: 100%;
        
    }
    .left-btn .d-grid{
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .right-btn{
        margin-top: 60px;
        width: 100%;
    }
    .right-btn .d-grid{
        padding: 0px;
        align-items: center;
    }
}